.login-container{
    width: 40%;
    margin: 10% auto;
    padding: 2% 2%;
    border: 2px solid gray;
}
#loginHeading{
    text-align: center;
    margin-bottom: 2%;
}
.details{
    margin: 3% 0%;
    position: relative;
}
#nameOfUser,#passwordOfUser{
    position: absolute;
    right: 5%;
    width: 15rem
}
.btn{
    margin-bottom: 0;   
}

.upload-pdf-container{
    display: none;
    padding: 10% 5%;
}
.upload-files{
    height: 60vh;
    width: 50%;
    border: 5px dashed blueviolet;
    background-color: rgb(199, 167, 230);
    margin: 5% auto;
    padding: 2%;
    text-align: center;
}
#uploadFilesBtn{
    width: 15rem;
    margin-bottom: 4%;
}
.drop-files{
    padding: 20% 5%;
    font-size: xx-large;
    color: rgb(126, 119, 133);
}